body {
  display: block;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  background-color: rgb(243, 245, 248);
  color: #696969;
}

.responsive {
  width: 100%;
  height: auto;
}

.top-right {
  position: absolute;
  top: 4%;
  right: 2%;
  color: rgb(255, 221, 164);
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
