body {
  display: block;
  margin: 0;
  font-family: Helvetica-Neue, sans-serif;
}

.App {
  text-align: center;
  background-color: rgb(243, 245, 248);
  color: #696969;
}

.responsive {
  width: 100%;
  height: auto;
}

.bottom-middle {
  position: relative;
  bottom: 50px;
}

.top-right {
  position: absolute;
  top: 4%;
  right: 2%;
}

.white {
  color: white;
}

.yellowish {
  color: rgb(255, 221, 164);
}

.whitish {
  color: rgb(255, 248, 194);
}

.section-div {
  margin: 3%;
}

.margin-top {
  margin-top: 1%;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
