body {
  display: block;
  margin: 0;
  font-family: Helvetica-Neue, sans-serif;
}

.App {
  text-align: center;
  background-color: rgb(243, 245, 248);
  color: #696969;
}

.responsive {
  width: 100%;
  height: auto;
}

.bottom-middle {
  position: relative;
  bottom: 50px;
}

.top-right {
  position: absolute;
  top: 4%;
  right: 2%;
}

.white {
  color: white;
}

.grayish {
  color: #696969;
}

.yellowish {
  color: rgb(255, 221, 164);
}

.whitish {
  color: rgb(255, 248, 194);
}

.pinkish {
  color: rgb(224, 159, 144);
}

.tealish {
  color: rgb(47, 225, 188);
}

.section-div {
  margin: 2% 15% 4% 15%;
}

.margin-top {
  margin-top: 1%;
}

.portfolio-image {
  margin-top: 4%;
  width: 50%;
  height: auto;
}

.left-aligned {
  text-align: left;
  margin-top: 2%;
}

.inline-block {
  display: inline-block;
  margin: 1%;
}

h6 {
  margin-top: 0px;
}
